<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="DataFileName" value="..\..\..\Resources\Input\customer.csv"/>
    <add key="TemplateFileName" value="..\..\..\Resources\Input\template.txt"/>
    <add key="OutputFolder" value="..\..\..\Resources\Output\"/>

  </appSettings>
  
</configuration>